* {
  box-sizing: border-box;
}

body,
html,
a{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
}
ul,li{
  margin: 0;
  padding: 0;
}
.item-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 8px;
}

.item {
  background-color: cadetblue;
  border-radius: 3px;
  text-align: center;
  height: 150px;
  padding: 16px;
  cursor: pointer;
}

.fullname {
  margin: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertskill {
  height: 26px;
}

@media screen and (max-width: 480px) {
  .item-container {
    grid-template-columns: auto;
  }
}